@import 'foundation/colors';
@import 'foundation/print';

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Header {
  text-align: center;
  background-color: $brand;
  padding: 20px;
  color: $light;

  @include hide-for-print;
}

.Intro {
  text-align: center;
  font-size: large;

  @include hide-for-print;
}

.Content {
  flex: 1;
  padding-bottom:20px;
}

.Footer {
  color: $light;
  padding: 40px;
  text-align: center;
  background-color: $footer;

  @include hide-for-print;
}

.FooterIcon {
  position: relative;
  top: 5px;
  width: 30px;
  height: 20px;
}
